.container-fluid{
    padding-bottom: 10px;
}
.card{
    display: flex;
    background-color: #f7f7f7;
    padding: 35px;
    width: 100%;
    justify-content: center;
    margin-top: 70px;
    height: 70%;
}
.card p{
    font-size: 18px;
}

.card h5{
    font-size: 28px;
}

#card-section{
    background-color: #266593;
    padding-left: 55px;
    padding-right: 55px;
}

.btn-custom{
    background-color: #C1D600;
    color: rgb(39, 39, 39);
    padding: 8px 25px;
}

.btn-custom:hover{
    opacity: 90%;
}

#track-card{
    margin-top: 25px !important;
}

@media only screen and (max-width: 600px) {
    .container-fluid{
        padding-bottom: 10px;
    }
    .card p{
        font-size: 14px;
    }
    
    .card h5{
        font-size: 24px;
    }
    
    .card{
        padding: 30px 5px;
        height: 100%;
        margin-top: 30px;
    }
    #card-section{
        background-color: #266593;
        padding-left: 20px;
        padding-right: 20px;
       
    }
    .col-sm-12 {
        min-height: 33.3333333%;
        height: 33.3333333%;
    } 
  }