.shipping-schedule-search .card-body{
    padding: 50px 25px;
}

@media only screen and (max-width: 600px) {
    .shipping-schedule-search .card-body{
        padding: 30px 15px;
    }
    .shipping-schedule-search .card{
        margin-top: 15px;
        width: 85%;
    }
  }

.shipping-schedule-search h4{
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
}

.shipping-schedule-search label{
    font-size: 14px;
    font-weight: 500;
}

.shipping-schedule-search .card{
    padding: 30px 20px;
    width: 100%;
}

.shipping-schedule-search .text-center{
    padding-bottom: 35px;
}

